.text-blinking {
  margin-left: 6px;
  font-weight: bolder;
  animation: blinking 0.5s alternate infinite;
}

.ghost-animation {
  animation: ghost 2s alternate infinite;
}

.recording-animation {
  animation: recording 0.6s alternate infinite;
}

@keyframes blinking {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes ghost {
  0% {
    transform: rotate(40deg);
  }

  30%,
  100% {
    transform: rotate(0);
  }
}

@keyframes recording {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}
